<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Message from Contact Form</title>
  </head>
  <body>
    <p>You have received a message from the site's contact form</p>
    <p>From <%= "#{ @name }, #{ @email }. " %></p>
    
    <p><%= @body %></p>
  </body>
</html>
